
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TheatricalElegantDemo';
  src: url('./assets/fonts/TheatricalElegantDemo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WastedVindey';
  src: url('./assets/fonts/wastedVindey.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PaperScratch';
  src: url('./assets/fonts/Paper Scratch.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SispectlyHarmonies';
  src: url('./assets/fonts/SispectlyHarmonies.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SecondQuotes';
  src: url('./assets/fonts/SecondQuotes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Alein';
  src: url('./assets/fonts/AleinRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



html {
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(150, 150, 150,0.7);
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
}

/* Custom black scrollbar for chat */
.chat-scroll::-webkit-scrollbar {
  width: 8px;
}

.chat-scroll::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 9999px;
}

.chat-scroll::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
